@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  padding-top: 5%;
  background-color: #27AAE1;
  color: white;
  font-family: Open Sans;
}

.location {
  font-weight: bold;
}

.date-time {
  margin-top: 20px;
  text-align: right;
}

.weathericon canvas {
  padding: 20px 0;
  width: 250px;
  margin: auto;
}

.temperatures {
  -webkit-transform: translateY(30%);
     -moz-transform: translateY(30%);
      -ms-transform: translateY(30%);
       -o-transform: translateY(30%);
          transform: translateY(30%);
}

.main-temp {
  font-size: 75px;
  text-align: center;
}

.cel-fah {
  cursor: pointer;
  color: red;
}

.max-min {
  text-align: center;
}

.weather-title {
  text-align: center;
  margin-top: 30px;
}

.rise-set {
  text-align: center;
  font-weight: 100;
  margin-top: 25px;
}

.table {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  text-align: center;
}

#footer a {
  color: #FFF;
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  .temperature {
    transform: translateY(0);
  }
  
  .weathericon img {
  width: 250px;
  }
  
  .location, .date-time {
    text-align: center;
  }
  
  .table {
    margin-top: 25px;
  }
}